<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2>Expresiones</h2>
  <h3>Interpolación</h3>
  <p>
    Bienvenido {{nombre}} {{apellido}} tu color favorito es el {{color}}
  </p>
  <h3>Expresiones Matemáticas</h3>
  <p>
    La base del triángulo es de {{base}} metros y la altura es de {{altura}} metros
  </p>
  <p>
    El área del triángulo es de {{base * altura/2}} metros cuadrados
  </p>

  <h3>Concatenación de Strings</h3>
  <p>
    Bienvenido {{nombre + " " + apellido}}
  </p>
</body>
</html>